* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.5rem 6rem 1.5rem;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
}
header nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header nav ul li {
  padding: 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
}

.section1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3rem;
}
.section1 h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 55px;
  letter-spacing: 10px;
  width: 30vw;
  z-index: 2;
}
.section1 p {
  width: 48vw;
  color: #858585;
  letter-spacing: 2px;
  line-height: 2rem;
  margin: 2rem 0 1rem 0;
}
.section1 .fondito {
  background-color: #03faee;
  height: 2.5rem;
  width: 13.7rem;
  position: absolute;
  z-index: -1;
}
.section1 img {
  height: 35vw;
  position: relative;
}
.section1 a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border: 1px solid #017671;
  background-color: #03faee;
  border-radius: 6px;
  margin-top: 0.5rem;
}
.section1 a:hover {
  background-color: red;
}
.section1 a + a {
  margin-left: 15px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}
.section2 article {
  width: 25vw;
  padding: 12px 20px 50px;
  background-color: #f8f8f8;
  position: relative;
  z-index: -2;
  border-radius: 10px;
}
.section2 article .num {
  border: 1px solid #000;
  background-color: #fff;
  margin-bottom: 1.3rem;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: -4px 0px 1px 2.5px #03faee;
          box-shadow: -4px 0px 1px 2.5px #03faee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 article .cuadrito {
  background-color: #03faee;
  height: 0.7rem;
  width: 1.3rem;
  position: absolute;
  z-index: -1;
}

footer {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .redes a img {
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25rem;
  text-align: center;
  -webkit-box-shadow: -4px 0px 1px 2.5px #03faee;
          box-shadow: -4px 0px 1px 2.5px #03faee;
  vertical-align: middle;
}
footer .redes a + a {
  margin-left: 1.5rem;
}
/*# sourceMappingURL=main.css.map */